<!DOCTYPE html>
<html lang="en">

	<head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <title>Index</title>
	</head>

	<body>
		<h2 style="color: blue">uwsgi-nginx-flask server</h2>
		<a href="/chat">See incoming messages story</a> 
		</br>
		<a href="/chat/send">Send message</a>
		</br>
		<a href="/ip">See ip</a>
		<footer>
			<p>Authors: 
				</br> https://github.com/Qubaef 
				</br> https://github.com/DominikKwiatkowski
			</p>
		</footer>
	</body>

</html>