<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <div class="container">
  <div class="row">
    <div class="col">

      <h1>Send message</h1>
      <h3>Send message to other server through localhost port. Provide message and port:</h3>
      <hr>

      <form action="/chat/send" method="POST">

        <div class="form-group">
          <label>Message</label>
          <input type="text" class="form-control" id="message" name="message" placeholder="Enter message">
        </div>

        <div class="form-group">
          <label>Adress</label>
          <input type="text" class="form-control" id="adress" name="adress" placeholder="Enter adress">
        </div>

        <button type="submit" class="btn btn-primary">Send</button>

      </form>

    </div>
  </div>
</div>
</body>

</html>